$accent-color: orange;
$text-color: #636b6f;
//darker shades
$dark: #333;
$black: #111;

//lighter shades
$whitesmoke: #eee;
$light-gray: #888;
$dark-gray: #555;

//colors
$link-color: yellowgreen;

$gradient-one: linear-gradient(270deg, $dark-gray 0%, $dark-gray 10%, $dark 50%);
$primary-gradient: linear-gradient(190deg, #f85f53, crimson);

//Images
$light-gray-border: solid 1px #ddd;
$secondary-color: #319FE8 ;
