$gray: #E5E5E5;
$primary-color: #20B171;
$accent-color: #00E6A1;
$link: $accent-color;

$tabs-link-active-color: $primary-color;
$tabs-link-active-border-bottom-color: $primary-color;
$tabs-dropdown-item-active-color: $primary-color;
$modal-background-background-color: fade-out($primary-color, 0.86);

$text-color: #636b6f;

// Bulma Primary Color
$primary: $accent-color;
$info: #8bbdef;
// $success: #bce0c9;
$red: #e6b3bd;
$blue: lightblue;

//darker shades
$dark: #333;
$black: #111;

//lighter shades
$whitesmoke: #eee;
$light-gray: #888;
$dark-gray: #555;

//colors
$link-color: yellowgreen;

$gradient-one: linear-gradient(270deg, #fff 0%, whitesmoke 50%);
$primary-gradient: linear-gradient(190deg, #f85f53, crimson);

//Images
$light-gray-border: solid 1px #ddd;
$secondary-color: #319FE8;

//inputs
$input-focus-border-color: transparent;
$input-focus-box-shadow-color: rgba($link, .5);
$input-shadow: none;