.card {
  border: none;
  overflow: hidden;
  border-radius: $card-border-radius;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3); //heads a pointer cursor

  &.is-rounded {
    border-radius: 8px;
  }

  >.card-header {

    .osf,
    .is-dark {
      opacity: .57;
    }

    .card-header-title {
      color: inherit;
    }
  }

  &.pointed,
  &.cursored {
    cursor: pointer;
  }

  &.short-card {
    padding: 30px 15px;
  }
}