%input-font {
  font-family: $input-font;
}

//bulma dropdown chevron
.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $primary-color;
}
//end bulma dropdown chevron

.control {
  &.has-shadow {
    box-shadow: 0px 16px 8px -10px #0a0a0a33;

    input {
      @extend %input-font;
      box-shadow: none !important;
      border: 0 !important;
      border-radius: 0;

      &::placeholder {
        color: #666;
      }
    }
  }
}
