.modal {
    &.slide-up {
        .modal-content {
            opacity: 0;
            transform: translateY(-50%);
            transition: all .3s cubic-bezier(0, 0, 0.1, 1.39);

            &.reveal {
                opacity: 1;
                transform: translateY(0%);                
            }
        }
    }

    &-backdrop {
        background-color: #fff;

        &.in {
            opacity: 0.8;
        }
    }

    &-card-head {
        border-bottom: none;

        [data-toggle] {
            position: absolute;
            right: 0;
        }
    }

    &.is-note &-content {
        position: relative;
        box-shadow: 0 0 !important;

        &::after {
            content: "";
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 30px;
            display: block;
            background: transparent url(../assets/pngs/paper-reap.png) repeat-x left / 40px 30px;
            transform: translateY(-5px);
        }
    }

	&-card-foot {
		border-top-color: $primary-color;
		background: white;
    }
}
