
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$card-border-radius: 5px;

$gray: #E5E5E5;
$primary-color: #20B171;
