// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$card-border-radius: 0px;
$link-color: lightblue;
$hr-color: #f8f8f8;
$body-bg: #ECECEC; // #f0f4ff;

//columns
$column-gap: 7px;
$grid-breakpoints: (xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px) !default;