	@mixin icon-maker($name, $folder: 'black') {
	background-image: url("../assets/svgs/#{$folder}/#{$name}-#{$folder}.svg");
}


$icons: hospital department settings cancel 
	dashboard doctor pharmacy history
	lab search users notification back-alt forum
	add bookmark client-alt more share update user;

.osf {
	width: 24px;
    height: 24px;
	background-size: contain;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;

    &.osf-14px {
    	width:14px;
    	height:14px
    }
}


.is-dotted::after {
	content: '';
    width: 8px;
    height: 8px;
    background: #f16161;
    display: inline-block;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 26px;
}

@each $name in $icons {
	.osf-#{$name} {
		@include icon-maker(#{$name});
	}  
	.osf-#{$name}-green {
		@include icon-maker(#{$name}, 'green');
	}
	.osf-#{$name}-white {
		@include icon-maker(#{$name}, 'white');
	}
}
