@import "variables";
@import './base/colors';
@import './autoload';

.osq {
    &-wrapper {
        display: grid;
        min-height: 100vh;
        grid: 
            "navbar navbar" 50px 
            "sidebar  content" auto
            / 250px 1fr;
    }

    &-main-navbar {
    	@extend %content-padding;

        z-index: 100;
        position: sticky;
        grid-area: navbar;
        box-shadow: 0 0 10px 2px rgba(0,0,0,.3);

        .notif-icons {
            li a {
                display: block;
                padding: 0 10px;
                color: blue;
            }

        	span {
        		line-height: 50px;
        		font-size: smaller;
        		color: $dark-gray;
        	}
        }
		.avatar-holder {
			display: flex;
			align-items: center;
		}
    }

	$sidebar-width: 250px;

    &-sidebar {
        grid-area: sidebar;
        height: 100vh;
        position: fixed;
        left: 0px;
        z-index: 3;
        width: $sidebar-width;
        background: $primary-color;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 50px 15px 5px;
        transition: width .4s ease-out;

        .image-label {
            letter-spacing: 3px;
            vertical-align: middle;
            font-size: 1.5rem;
            display: flex;
            width: 100%;
            height: 100px;
            justify-content: flex-start;
            align-items: center;
            box-sizing: border-box;
            // border: solid 2px black;

            img {
                display: block;
                width: 100%;
                object-fit: cover;
                margin-right: 15px;
            }
        }

        nav, footer {
	        color: white;
            width: $sidebar-width;
            height: auto;
            margin-right: -15px;
            margin-left: -15px;

            ul {
                padding: 0;

                > li {
                    display: block;
                    position: relative;
                    color: rgba(255, 255, 255, 0.782);
                    
                    a {
                        display: flex;
                        color: inherit;
                        font-size: 1.1em;
                        padding: 15px 15px;
                        align-items: center;
                        text-decoration: none;
                        font-family: $default-font;
                    }

                    span.toggler
                    {
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 0;
                        pointer-events: fill;
                        position: absolute;
                        border: solid 12px black;
                        border-color: $body-bg $body-bg transparent transparent;
                        visibility: hidden;
					    transform: rotate(-135deg) translate(-24px);
                    }

                    &.active {
                        color: white;
                        background: fade-out(black, .88);
                        text-shadow: 0 2px 1px fade-out(black, .38);

                        span.toggler {
                            visibility: visible;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    > ul li {
                        padding-left: 50px;
                        
                    }
                }

                .osf {
                	margin-left: 0;
                	margin-right: 15px;
                	// border-radius: 50% / 10%;
                }
            }
        }
		
		&.collapse {
			overflow: hidden;
			width: 60px;
		}
    }
  
    &-content {
        grid-area: content;
        display: flex;
        z-index: 1;

        #content {
	        padding: 15px; 
	        flex: 0 1 calc(100% - 60px);
        }

		#osq-logs {
            top: 50px;
            right: 0;
            transform: translateX(0);
			background: white;
			width: 300px;
			overflow: hidden;
			height: 100vh;
			position: fixed;
            transition: all .3s ease-out;
			box-shadow: -3px 0px 3px fade-out(black, .94);
            z-index: 12;

			&-content {
				@extend %content-padding;
				min-width: 300px;
				padding-top: 15px;
				box-sizing: border-box;
			}

			.icon {
				margin-left: 0;
			}

			&.collapse {
				transform: translateX(240px);
			}
        }
    }
}
